@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Outfit:wght@300&family=Sanchez&display=swap');


:root {
    --background-color-header: #111A19;
    --background-color-nav: #3C4743;
    --text-color-light: #EDF3F1;
    --text-color-dark: #ACB5B2;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Bungee Shade', cursive;
    font-family: 'Outfit', sans-serif;
    // font-family: 'Sanchez', serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 9em 0 9em;
    background-color: var(--background-color-header);
}

.header-up {
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-logo {
        margin: 1em;

        & img {
            height: 6em;
            width: 11em;
        }
    }

    &-search-bar {
        margin: 1em;
        display: flex;
        align-items: center;

        & #text {
            margin: 1em;
            width: 30em;
            padding: 0.6em;
            border-radius: 1em;
            border-style: none;
        }

    }

    &-search-bar button {
        background-color: transparent;
        border-style: none;
        font-size: 1.3em;
        cursor: pointer;
        color: var(--text-color-dark);
    }

    &-actions-list {
        display: flex;
        justify-content: space-between;

        li a {
            color: var(--text-color-dark);
            margin-right: 2em;
        }

        li a:hover{
            color: var(--text-color-light);
        }
    }

}

.header-nav {
    background-color: var(--background-color-nav);
    border-radius: 0.6em;

    &-menu {
        display: flex;
        justify-content: space-between;

        & li {
            padding: 0 2.5em 0 2.5em;
            & a {
                color: var(--text-color-dark);
            }

            & a:hover{
                color: var(--text-color-light);
            }
        }

    }
}