@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Outfit:wght@300&family=Sanchez&display=swap');


:root{
    --text-color-light:#CAD0D0;
    --text-color-dark: #ACB5B2;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Bungee Shade', cursive;
    font-family: 'Outfit', sans-serif;
    // font-family: 'Sanchez', serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
}

.header-up {
    background-color: rgb(26 25 26);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-logo {
        margin: 1em;

        & img {
            height: 6em;
            width: 11em;
        }
    }

    &-search-bar {
        margin: 1em;
        display: flex;
        align-items: center;

        & #text {
            margin: 1em;
            width: 30em;
            padding: 0.6em;
            border-radius: 1em;
            border-style: none;
        }

    }

    &-search-bar button {
        background-color: transparent;
        border-style: none;
        font-size: 1.3em;
        cursor: pointer;
        color: var(--text-color-light);
    }

    &-actions-list {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li a{
            color: var(--text-color-light);
            margin-right: 2em;
        }
    }

}







.header-nav {
    background-color: burlywood;
}